<h1>Version Matrix</h1>


<table class="version_matrix">
  <tr>
    <td></td>
    <% @versions.each do |vx| %>
    <td><%= vx.product.name %> (<%= vx.version_string %>)</td>
    <% end %>
  </tr>
  <% @versions.each do |vx| %>
  <tr class="version_matrix">
    <td class="version_matrix"><%= vx.product.name %> (<%= vx.version_string %>)</td>
    <% @versions.each do |vy| %>
    
        <!-- if compatibile then mark with an "x" -->
        <% if isCompatible(vx, vy) %>
        <td class="version_compatible">
        <% else %>
        <td class="version_incompatible">
        <% end %>
    </td>
    <% end %>
  </tr>
  <% end %>
</table>


