<h1>Version Matrix</h1>


<table>
  <tr>
    <td></td>
    <% @versions.each do |vx| %>
    <td><%= vx.product.name %> (<%= vx.version_string %>)</td>
    <% end %>
  </tr>
  <% @versions.each do |vx| %>
  <tr>
    <td><%= vx.product.name %> (<%= vx.version_string %>)</td>
    <% @versions.each do |vy| %>
    <td>
        <!-- if compatibile then mark with an "x" -->
        <% if isCompatible(vx, vy) %>
        x
        <% end %>
    </td>
    <% end %>
  </tr>
  <% end %>
</table>


