<h1>Version Matrix</h1>
<p>Products: <%= link_to "Products", products_path %></p>
<p>Compatibilities: <%= link_to "Compatibilities", compatibilities_path %></p>
<p>Versions: <%= link_to "Versions", versions_path %></p>
